
<div>
    <div class="profile">
        <img src="https://www.shareicon.net/data/512x512/2016/09/15/829453_user_512x512.png" alt="noImage">
        <h3>Admin</h3>
        <h4>admin1234@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employee</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contact"><mat-icon>contacts</mat-icon>contact</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>leaderboard</a>

    </div>
</div>